#main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* No display:flex or flex-direction */
}

#tux-widget {
    width: 60; /* character cells */
    padding: 0;
    margin: 0;
    border: round white;
    background: transparent;
    color: white;
}


#todo-container {
    height: 100%;
    width: 100%;
    /* No display:flex or flex-direction */
}

#todo-display {
    overflow-y: auto;
}

#todo-input {
    width: 100%;
    border: round white;
    background: transparent;
    color: white;
}

#todo-input:focus {
    border: round white;
    background: transparent;
    color: white;
}

#todo-title {
    border: none;
    background: transparent;
    color: white;
    text-align: center;
    padding: 0 1;
    height: 1;
}

