
#main-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 1 1 1 1;
}

#root-container {
    height: 100%;
    width: 100%;
}

#tux-widget {
    width: 60;
    padding: 1 2;
    margin: 1 0 0 0;
    border: round white;
    background: transparent;
    color: white;
}

#todo-widget {
    min-width: 20;
    max-width: 20;
    padding: 1 2;
    margin: 1 0 0 0;
    border: none;
    background: transparent;
    color: white;
    overflow-y: auto;
}

#cava-widget {
    width: 100%;
    padding: 0 0;
    margin: 0 0 0 0;
    border: none;
    background: transparent;
    color: white;
}

#todo-input {
    border: round white;
    background: transparent;
    color: white;
}
